@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "CategoryPage";
}
<div class="pcoded-inner-content pt-0">
    <div class="main-body">
       <div class="page-wrapper">
         <div class="page-body">
            <div class="row">
                <div class="col-sm-12">
                   <div class="card">
                      <div class="card-header">

                      </div>
                      <div class="card-block">
                        <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-4">
        <h4 class="sub-title">Category</h4>
        <div>
            <div class="form-group">
                <label>Category Name</label>
                @Html.TextBox("txtName", null, new { @class = "form-control", placeholder = "Enter Category Name", required = "required" })
                @Html.Hidden("hdnId", "0")
            </div>
        </div>
        <div class="form-group">
            <label>Category Image</label>
            <div>
                <input type="file" id="fuCategoryImage" name="fuCategoryImage" class="form-control" onchange="previewImage(this);" />
            </div>
        </div>
        <div class="form-check pl-4">
            @Html.CheckBox("cbIsActive", true, new { @class = "form-check-input" })
            <label class="form-check-label" for="cbIsActive">IsActive</label>
        </div>
        <div class="pb-3"></div> <!-- Add some padding between the IsActive checkbox and the buttons -->
        <div>
            <button type="submit" class="btn btn-primary mr-2">Add</button>
            <button type="button" class="btn btn-secondary" onclick="clearForm()">Clear</button>
        </div>
        <div class="pb-5">&nbsp;</div>
        <div>
            <img id="imgPreview" class="img-thumbnail" src="" alt="Category Image" style="display:none;" />
        </div>
    </div>
</div>
                      </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
    </div>
</div>
 <script>
        function previewImage(input) {
            var imgPreview = document.getElementById('imgPreview');
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    imgPreview.src = e.target.result;
                    imgPreview.style.display = 'block';
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>